@model IEnumerable<ProductViewModel>

@foreach (var product in Model)
{
    <div class="card-product loadItem grid">
        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.DetailsUrl" class="product-img">
            <img src="~/images/products/@product.CoverImageName" alt="@product.Name" />
        </a>
        <div class="card-product-info">
            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.DetailsUrl" class="title link">@product.Name</a>
            <span class="price">$@product.BasePrice</span>
        </div>
    </div>
}
