@{
    ShopViewModel model = Model;
    var products = model.Products;
    var categories = model.Categories;
}


<div class="tf-page-title">
    <div class="container-full">
        <div class="heading text-center">New Arrival</div>
        <p class="text-center text-2 text_black-2 mt_5">Shop through our latest selection of Fashion</p>
    </div>
</div>
<!-- /page-title -->
<!-- Section Product -->
<section class="flat-spacing-2">
    <div class="container">
        <div class="tf-shop-control grid-3 align-items-center">
            <div class="tf-control-filter">
                <a href="#filterShop" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft"
                   class="tf-btn-filter">
                    <span class="icon icon-filter"></span><span class="text">Filter</span>
                </a>
            </div>
            <ul class="tf-control-layout d-flex justify-content-center">
            </ul>
            <div class="tf-control-sorting d-flex justify-content-end">
                <div class="tf-dropdown-sort" data-bs-toggle="dropdown">
                    <div class="btn-select">
                        <span class="text-sort-value">Featured</span>
                        <span class="icon icon-arrow-down"></span>
                    </div>
                    <div class="dropdown-menu">
                        <div class="select-item active">
                            <span class="text-value-item">Featured</span>
                        </div>
                        <div class="select-item">
                            <span class="text-value-item">Best selling</span>
                        </div>
                        <div class="select-item" data-sort-value="a-z">
                            <span class="text-value-item">Alphabetically, A-Z</span>
                        </div>
                        <div class="select-item" data-sort-value="z-a">
                            <span class="text-value-item">Alphabetically, Z-A</span>
                        </div>
                        <div class="select-item" data-sort-value="price-low-high">
                            <span class="text-value-item">Price, low to high</span>
                        </div>
                        <div class="select-item" data-sort-value="price-high-low">
                            <span class="text-value-item">Price, high to low</span>
                        </div>
                        <div class="select-item">
                            <span class="text-value-item">Date, old to new</span>
                        </div>
                        <div class="select-item">
                            <span class="text-value-item">Date, new to old</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrapper-control-shop">
            <div class="meta-filter-shop">
                <div id="product-count-grid" class="count-text"></div>
                <div id="product-count-list" class="count-text"></div>
                <div id="applied-filters"></div>
                <button id="remove-all" class="remove-all-filters" style="display: none;">
                    Remove All <i class="icon icon-close"></i>
                </button>
            </div>
            <div class="tf-list-layout wrapper-shop" id="listLayout">


                <!-- pagination -->

            </div>
            <div class="tf-grid-layout wrapper-shop tf-col-4" id="gridLayout">
                <!-- card product 1 -->
                @foreach (var item in products)
                {

                    <div class="card-product grid" data-availability="In stock" data-brand="Ecomus">
                        <div class="card-product-wrapper">
                            <a href="product-detail.html" class="product-img">
                                <img class="lazyload img-product" data-src="/images/products/@item.CoverImageName"
                                     src="~/images/products/@item.CoverImageName" alt="image-product">

                                @{
                                    var picture = item.Images.FirstOrDefault();
                                }
                                @if (picture != null)
                                {
                                    <img class="lazyload img-hover" data-src="/images/products/@picture.ImageName"
                                         src="~/images/products/@picture.ImageName" alt="image-product">
                                }

                            </a>
                            <div class="list-product-btn absolute-2">
                                <a href="#quick_add" data-bs-toggle="modal"
                                   class="box-icon bg_white quick-add tf-btn-loading">
                                    <span class="icon icon-bag"></span>
                                    <span class="tooltip">Quick Add</span>
                                </a>
                                <a href="#" class="box-icon bg_white wishlist btn-icon-action">
                                    <span class="icon icon-heart"></span>
                                    <span class="tooltip">Add to Wishlist</span>
                                    <span class="icon icon-delete"></span>
                                </a>
                                <a href="#compare" data-bs-toggle="offcanvas" aria-controls="offcanvasLeft"
                                   class="box-icon bg_white compare btn-icon-action">
                                    <span class="icon icon-compare"></span>
                                    <span class="tooltip">Add to Compare</span>
                                    <span class="icon icon-check"></span>
                                </a>
                                <a href="#quick_view" data-bs-toggle="modal"
                                   class="box-icon bg_white quickview tf-btn-loading">
                                    <span class="icon icon-view"></span>
                                    <span class="tooltip">Quick View</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-product-info">
                            <a href="product-detail.html" class="title link">@item.Name</a>

                            @{
                                var variant = item.Variants.FirstOrDefault();
                            }
                            @if (variant != null)
                            {
                                <span class="price current-price">$@variant.Price</span>
                            }

                        </div>
                    </div>
                }


                <!-- pagination -->
                <ul class="wg-pagination tf-pagination-list">
                    <li class="active">
                        <a href="#" class="pagination-link">1</a>
                    </li>
                    <li>
                        <a href="#" class="pagination-link animate-hover-btn">2</a>
                    </li>
                    <li>
                        <a href="#" class="pagination-link animate-hover-btn">3</a>
                    </li>
                    <li>
                        <a href="#" class="pagination-link animate-hover-btn">4</a>
                    </li>
                    <li>
                        <a href="#" class="pagination-link animate-hover-btn">
                            <span class="icon icon-arrow-right"></span>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>
<!-- /Section Product -->